<nz-layout>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzBreakpoint="lg"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <nz-avatar [nzSize]="32" nzSrc="/assets/logo.svg"></nz-avatar>
      <h1>GRP MN MNGT</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter routerLink="/welcome">
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/payment">
        <span nz-icon nzType="form"></span>
        <span>Phiếu chi</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/group">
        <span nz-icon nzType="usergroup-add"></span>
        <span>Nhóm</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="left-header">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </span>

        <span class="right-header">
          <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
            <nz-avatar nzIcon="user"></nz-avatar>
            {{ userName | nzEllipsis : 7 : "..." }}
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="onLogout()">Đăng xuất</li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <span>Group Money Management System ©2023 Develop By BinhLD</span>
    </nz-footer>
  </nz-layout>
</nz-layout>
