:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

/* SIDER */

.menu-sidebar {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 18px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;
}

/* APP HEADER */
nz-header {
  padding: 0;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.left-header {
  position: absolute;
  left: 24px;
}

.trigger {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.right-header {
  position: absolute;
  right: 24px;
}

/* APP CONTENT */
nz-content {
  margin: 24px 24px 0px 24px;
}

.app-content {
  padding: 24px;
  background: #fff;
  border-radius: 5px;
  height: 100%;
}

/* APP FOOTER */
nz-footer {
  text-align: center;
}
