<nz-row nzGutter="xs" [nzGutter]="[16, 16]">
  <div nz-col nzSpan="8" class="left-panel">
    <gmm-group-master
      (targetGroupChange)="viewGroupDetail($event)"
    ></gmm-group-master>
  </div>
  <div nz-col nzSpan="16" class="right-panel">
    <nz-card *ngIf="!groupDetailId">
      <p nz-typography>Hãy chọn một nhóm để xem chi tiết!</p>
    </nz-card>
    <gmm-group-detail-admin
      [groupId]="groupDetailId"
      *ngIf="currentUserId == groupDetailAdminId && groupDetailId != null"
    ></gmm-group-detail-admin>
    <gmm-group-detail-member
      [groupId]="groupDetailId"
      *ngIf="currentUserId != groupDetailAdminId && groupDetailId != null"
    ></gmm-group-detail-member>
  </div>
</nz-row>
