<nz-row nzGutter="xs" [nzGutter]="[16, 16]">
  <nz-col nzSpan="8" class="left-panel">
    <nz-spin [nzSpinning]="leftSpining">
      <nz-card nzTitle="Nhóm" [nzExtra]="leftExtraTemplate">
        <nz-list>
          <nz-list-item *ngFor="let group of groups">
            <nz-list-item-meta
              nzAvatar="{{ group.avatarUrl }}"
              nzTitle="{{ group.name }}"
              nzDescription="{{ group.admin }} is administrator"
            >
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </nz-card>
      <ng-template #leftExtraTemplate>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          nzSize="small"
          (click)="onAddGroup()"
        >
          <span nz-icon nzType="plus"></span>
        </button>
      </ng-template>
      <app-upsert-group [(isVisible)]="isVisibleUpsert" (groupSaved)="onGroupSaved()"></app-upsert-group>
    </nz-spin>
  </nz-col>
  <nz-col nzSpan="16" class="right-panel">
    <nz-card nzTitle="Lorem Ipsum"> </nz-card>
  </nz-col>
</nz-row>
