<nz-modal
  [(nzVisible)]="isVisible"
  nzPlacement="top"
  [nzWidth]="992"
  nzTitle="Tạo phiếu chi"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzMaskClosable="false"
  nzCentered
>
  <ng-template #modalContent>
    <form nz-form [formGroup]="form">
      <div nz-row class="inline">
        <nz-form-item>
          <nz-form-label>Nhóm</nz-form-label>
          <nz-form-control>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn nhóm"
              formControlName="groupId"
              (nzOpenChange)="onOpenSelectGroup($event)"
            >
              <ng-container *ngFor="let g of groups">
                <nz-option
                  *ngIf="!isLoadingGroups"
                  [nzValue]="g.id"
                  [nzLabel]="g.groupName"
                ></nz-option>
              </ng-container>
              <nz-option *ngIf="isLoadingGroups" nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Loading...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Hình thức</nz-form-label>
          <nz-form-control>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn hình thức"
              formControlName="type"
            >
              <nz-option nzLabel="Cá nhân" [nzValue]="1"></nz-option>
              <nz-option nzLabel="Nhóm" [nzValue]="2"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Ngày</nz-form-label>
          <nz-date-picker
            nzPlaceHolder="Chọn ngày giờ"
            formControlName="date"
          ></nz-date-picker>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Giờ</nz-form-label>
          <nz-time-picker
            nzFormat="HH:mm"
            [nzMinuteStep]="15"
            nzPlaceHolder="Chọn giờ"
            formControlName="time"
          ></nz-time-picker>
        </nz-form-item>
      </div>
      <div nz-row nzGutter="xs" [nzGutter]="[16, 16]">
        <div nz-col [nzSpan]="16">
          <nz-card
            nzTitle="Bên A"
            [nzExtra]="aSide_extraTemplate"
            [nzBodyStyle]="{ height: '49vh', 'overflow-y': 'auto' }"
          >
            <ng-container formArrayName="aSide">
              <div
                nz-row
                class="inline"
                *ngFor="let control of aSideFA.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <nz-form-item class="inline-group">
                    <nz-form-label>{{ i + 1 }}</nz-form-label>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Thành viên"
                        formControlName="userId"
                        (nzOpenChange)="onOpenSelectMember($event)"
                      >
                        <ng-container *ngFor="let m of members">
                          <nz-option
                            *ngIf="!isLoadingMembers"
                            [nzValue]="m.userId"
                            [nzLabel]="m.userName"
                          ></nz-option>
                        </ng-container>
                        <nz-option
                          *ngIf="isLoadingMembers"
                          nzDisabled
                          nzCustomContent
                        >
                          <span
                            nz-icon
                            nzType="loading"
                            class="loading-icon"
                          ></span>
                          Loading...
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <input
                        nz-input
                        placeholder="Số tiền (k VNĐ)"
                        formControlName="amount"
                      />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <textarea
                        rows="3"
                        nz-input
                        placeholder="Lý do"
                        formControlName="description"
                      ></textarea>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      nzSize="small"
                      nzDanger
                      (click)="removeFromASide(i)"
                    >
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                  </nz-form-item>
                </ng-container>
              </div>
            </ng-container>
          </nz-card>
          <ng-template #aSide_extraTemplate>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              (click)="onAddToASide()"
            >
              <span nz-icon nzType="plus"></span>
            </button>
          </ng-template>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            nzTitle="Bên B"
            [nzExtra]="bSide_extraTemplate"
            [nzBodyStyle]="{ height: '49vh', 'overflow-y': 'auto' }"
          >
            <ng-container formArrayName="bSide">
              <div
                nz-row
                class="inline"
                *ngFor="let control of bSideFA.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <nz-form-item class="inline-group">
                    <nz-form-label>{{ i + 1 }}</nz-form-label>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Thành viên"
                        formControlName="userId"
                        (nzOpenChange)="onOpenSelectMember($event)"
                      >
                        <ng-container *ngFor="let m of members">
                          <nz-option
                            *ngIf="!isLoadingMembers"
                            [nzValue]="m.userId"
                            [nzLabel]="m.userName"
                          ></nz-option>
                        </ng-container>
                        <nz-option
                          *ngIf="isLoadingMembers"
                          nzDisabled
                          nzCustomContent
                        >
                          <span
                            nz-icon
                            nzType="loading"
                            class="loading-icon"
                          ></span>
                          Loading...
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      nzSize="small"
                      nzDanger
                      (click)="removeFromBSide(i)"
                    >
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                  </nz-form-item>
                </ng-container>
              </div>
            </ng-container>
          </nz-card>
          <ng-template #bSide_extraTemplate>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              (click)="onAddToBSide()"
            >
              <span nz-icon nzType="plus"></span>
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" nzDanger>Đặt lại</button>
    <button nz-button nzType="primary">Lưu nháp</button>
    <button nz-button nzType="primary" (click)="onSave()">Lưu</button>
  </ng-template>
</nz-modal>
