nz-select {
  min-width: 150px !important;
}

.inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inline-group > * {
  margin-right: 8px;
}

.inline-group > *:last-child {
  margin-right: 0px;
}

:host ::ng-deep .ant-card-head {
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: none;
}

:host ::ng-deep .ant-card-head-wrapper {
  border-bottom: 1px solid #f0f0f0;
}

:host ::ng-deep .ant-card-body {
  padding: 16px;
  padding-right: 8px;
}

.mb-16px {
  margin-bottom: 16px;
}

nz-card {
  height: 100%;
}
