<nz-modal
  [(nzVisible)]="isVisible"
  nzPlacement="top"
  [nzWidth]="992"
  nzTitle="Tạo phiếu chi"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzMaskClosable="false"
  nzCentered
>
  <ng-template #modalContent>
    <div nz-row class="mb-16px">
      <div class="inline">
        <div class="inline-group">
          <label>Nhóm: </label>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Chọn nhóm"
            [(ngModel)]="searchParams.groupId"
          >
            <nz-option nzLabel="AAA" nzValue="1"></nz-option>
            <nz-option nzLabel="BBB" nzValue="2"></nz-option>
          </nz-select>
        </div>
        <div class="inline-group">
          <label>Loại: </label>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Chọn loại"
            [(ngModel)]="searchParams.type"
          >
            <nz-option nzLabel="Cá nhân" [nzValue]="1"></nz-option>
            <nz-option nzLabel="Nhóm" [nzValue]="2"></nz-option>
          </nz-select>
        </div>
        <div class="inline-group">
          <label>Ngày: </label>
          <nz-date-picker
            [(ngModel)]="searchParams.date"
            nzPlaceHolder="Chọn ngày"
          ></nz-date-picker>
        </div>
        <div class="inline-group">
          <label>Giờ: </label>
          <nz-time-picker
            [(ngModel)]="searchParams.time"
            nzFormat="HH:mm"
            [nzMinuteStep]="15"
            nzPlaceHolder="Chọn giờ"
          ></nz-time-picker>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="xs" [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="16">
        <nz-card
          nzTitle="Bên A"
          [nzExtra]="extraTemplate"
          [nzBodyStyle]="{ height: '49vh' }"
        >
        </nz-card>
        <ng-template #extraTemplate>
          <button nz-button nzType="primary" nzShape="circle" nzSize="small">
            <span nz-icon nzType="plus"></span>
          </button>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card
          nzTitle="Bên B"
          [nzExtra]="extraTemplate"
          [nzBodyStyle]="{ height: '49vh' }"
        >
        </nz-card>
        <ng-template #extraTemplate>
          <button nz-button nzType="primary" nzShape="circle" nzSize="small">
            <span nz-icon nzType="plus"></span>
          </button>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" nzDanger>Đặt lại</button>
    <button nz-button nzType="primary">Lưu nháp</button>
    <button nz-button nzType="primary" (click)="onSave()">Lưu</button>
  </ng-template>
</nz-modal>
