<nz-spin [nzSpinning]="isLoading">
  <nz-card *ngIf="!group || isLoading"></nz-card>

  <nz-card
    *ngIf="!!group && !isLoading"
    nzTitle="{{ group.groupName }}"
    [nzExtra]="extraTemplate"
  >
    <nz-table
      #borderedTable
      nzBordered
      [nzData]="group.users"
      nzSize="small"
      nzShowPagination="false"
    >
      <thead>
        <tr>
          <th nzAlign="left" nzWidth="25%">Tên</th>
          <th nzAlign="center" nzWidth="20%">Trạng thái</th>
          <th nzAlign="center" nzWidth="20%">Ngày tham gia</th>
          <th nzAlign="center" nzWidth="20%">Vai trò</th>
          <th nzAlign="center" nzWidth="15%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of borderedTable.data">
          <td nzAlign="left">{{ data.userName }}</td>
          <td nzAlign="center">
            <div *ngIf="data.joinedStatus | gmm_group_status as joinedStatus">
              <nz-tag [nzColor]="joinedStatus.color">
                {{ joinedStatus.text }}
              </nz-tag>
            </div>
          </td>
          <td nzAlign="center">
            {{
              data.joinedAt?.seconds | gmm_s_to_ms | date : "dd/MM/yyyy hh:mm"
            }}
          </td>
          <td nzAlign="center">
            {{ data.role | gmm_group_role }}
          </td>
          <td nzAlign="center">
            <button
              *ngIf="isShowDeactivateMemberButton(data)"
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nzDanger
              (click)="onDeactivatemMember(data)"
            >
              <span nz-icon nzType="lock" nzTheme="outline"></span>
            </button>
            <button
              *ngIf="isShowActivateMemberButton(data)"
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              (click)="onActivatemMember(data)"
            >
              <span nz-icon nzType="unlock" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <ng-template #extraTemplate>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onInviteMember()"
    >
      <span nz-icon nzType="plus"></span>
    </button>
  </ng-template>
  <gmm-invite-member
    [(isVisible)]="isVisibleInvite"
    [disabledMemberIds]="memberIds"
    [currentGroupId]="group?.id ?? ''"
    (invitedSuccess)="onInvitedSuccess()"
  ></gmm-invite-member>
</nz-spin>
