<nz-card nzTitle="Phiếu chi" [nzExtra]="extraTemplate">
  <form nz-form [formGroup]="form">
    <nz-space nzSize="large" nz-row>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>Từ ngày</nz-form-label>
        <nz-form-control nzErrorTip="Hãy chọn từ ngày!">
          <nz-date-picker
            nzPlaceHolder="Chọn từ ngày"
            formControlName="fromDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>Đến ngày</nz-form-label>
        <nz-form-control nzErrorTip="Hãy chọn đến ngày!">
          <nz-date-picker
            nzPlaceHolder="Chọn đến ngày"
            formControlName="toDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>Tiêu chí</nz-form-label>
        <nz-form-control nzErrorTip="Hãy chọn tiêu chí!">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Chọn tiêu chí"
            formControlName="fromToType"
          >
            <nz-option nzValue="created_at" nzLabel="Ngày tạo"></nz-option>
            <nz-option nzValue="payment_at" nzLabel="Ngày chi"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-control nzErrorTip="Hãy chọn đến ngày!">
          <button
            nz-button
            nzType="primary"
            (click)="onSearchPayments()"
            [nzLoading]="isLoadingPayments"
          >
            <span nz-icon nzType="search"></span>
            Tìm kiếm
          </button>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </form>
  <nz-table #table nzSize="small" nzBordered [nzLoading]="isLoadingPayments">
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="100px">STT</th>
        <th nzAlign="center" nzWidth="200px" [nzShowFilter]="true">Tên nhóm</th>
        <th nzAlign="center" nzWidth="200px" [nzShowFilter]="true">
          Người tạo
        </th>
        <th nzAlign="center" nzWidth="200px" [nzShowSort]="true">Ngày tạo</th>
        <th nzAlign="center" nzWidth="200px" [nzShowSort]="true">Ngày chi</th>
        <th nzAlign="center" nzWidth="200px" [nzShowSort]="true">Tổng tiền</th>
        <th nzAlign="center" nzWidth="200px" [nzShowFilter]="true">
          Trạng thái
        </th>
        <th nzAlign="center" nzWidth="200px">Thao tác</th>
      </tr>
    </thead>
    <tbody></tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    nzSize="small"
    (click)="onAddPayment()"
  >
    <span nz-icon nzType="plus"></span>
  </button>
</ng-template>
<gmm-upsert-payment-modal
  [(isVisible)]="isVisibleUpsert"
  [groups]="joinedGroups"
></gmm-upsert-payment-modal>
